DEBUG=True
SECRET_KEY=django-insecure-change-me

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0

REFRESH_COOKIE_SAMESITE=Lax
REFRESH_COOKIE_SECURE=False
CORS_ALLOWED_ORIGINS=http://localhost:3000

EMAIL_HOST_USER=your-app@gmail.com
GOOGLE_SMTP_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
